# Fingerprint
type fpc_data_file, file_type, data_file_type;
type fpce_socket, file_type;
type fpc_sysfs, fs_type, sysfs_type;

# Power
type debugfs_wlan, debugfs_type, fs_type;
type sysfs_touchpanel, sysfs_type, fs_type;
type debugfs_msm_core, debugfs_type, fs_type;
type perfd_socket, file_type;

type thermal_dump_file, file_type;
type sysfs_video4linux, sysfs_type, fs_type;
type sysfs_power_supply, sysfs_type, fs_type;
type sysfs_input, sysfs_type, fs_type;
type sysfs_bt_device, sysfs_type, fs_type;
type tftp_server_check_file, file_type;
type sysfs_wifi, fs_type, sysfs_type;
type sysfs_cnss_common, sysfs_type, fs_type;
type debugfs_wifi, debugfs_type, file_type;

# Remote storage
type debugfs_rmt, debugfs_type, fs_type;
type debugfs_rpm, debugfs_type, fs_type;

# Rild
type rild_file, file_type, vendor_file_type;

# Thermal engine
type thermal_data_file, data_file_type, file_type;
type thermal_decrypt_file, data_file_type, file_type;

# Torch
type sysfs_torch, fs_type, sysfs_type;

type debugfs_mem, debugfs_type, fs_type;
